@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background: white;
  border: 1px solid #ddd;
  padding: 4px 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: 0.15s;
}

.btn:hover {
  background: #f1f1f1;
}

.editor-codeblock {
  background: #111;
  color: #eee;
  padding: 12px;
  border-radius: 8px;
  font-family: monospace;
  font-size: 14px;
  overflow-x: auto;
}
